# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
backend/venv/
venv/
env/

# Environment variables (secrets)
.env
*.env

# Node
frontend/node_modules/
node_modules/

# Build outputs
frontend/dist/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Local Database Data
data/
data/db/
